<link rel="stylesheet" href="./../css/style.css" />
<nav class="navbar">
  <a href="/"><img class="poro" src="/img/poro-lol.gif" alt="poro-lol" /></a>
  <a href="/"> <h1 class="nav-title">bloGame</h1></a>
  <div class="header-p">
    <a href="/views/createBlog.ejs">Create Tournament & Update</a>
  </div>
</nav>
