<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image" href="/img/android-icon-72x72.png" />
    <title>bloGame || 404 page not found</title>
  </head>
  <body>
    <%- include('./partials/btn-back.ejs') %>
    <br />
    <h1>PAGE NOT FOUND</h1>
    <img src="/img/gtfo.png" alt="gtfo" />
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
