<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image" href="/img/android-icon-72x72.png" />
    <script defer src="./../Js/swup.js"></script>
    <title>League Of Legends</title>
  </head>
  <body>
    <!-- Nav -->
    <%- include('./partials/nav.ejs') %>
    <!-- The content -->
    <main id="swup" class="transition-fade">
      <h2>All Tournaments and Updates || League of Legends</h2>
      <%- include('./partials/allPosts.ejs')%>
    </main>
    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
  </body>
  <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
</html>
